@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1500181680449');
    /* IE9*/
    src: url('iconfont.eot?t=1500181680449#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1500181680449') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1500181680449') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1500181680449#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
    content: "\e606";
}

.icon-baoming:before {
    content: "\e60b";
}

.icon-shouye:before {
    content: "\e69e";
}

.icon-jiangpin:before {
    content: "\e655";
}

.icon-fanhui:before {
    content: "\e72e";
}

.icon-fangwenliang:before {
    content: "\e634";
}

.icon-geren:before {
    content: "\e73c";
}

.icon-tubiao-:before {
    content: "\e651";
}